<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
        <% messages.forEach((message) => { %>
            <div class="message">
                <p><%= message.text %></p>
                <p>- <%= message.user %></p>
                <p><%= message.added %></p>
            </div>
        <% }); %>
            <button><a href="/new">Submit New Comment</a></button>
</body>
</html>